form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="number"],
select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

form {
    width: 50%;
    text-align: justify;
}
.messageError{
    margin-bottom: 10px;
}